<h3><i class="bi book-half"></i>StoryFetcher</h3>
<div class="section">
    <p class="lead">Write and share public and private stories about yourself
    </p>
</div>
<div class="divider"></div>
<div class="section">
    <a class="btn red darken-1" href="/auth/google">
        <i class="bi bi-google left">&nbsp Login with Google</i>
    </a>
</div>